In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

In [2]:
from data_proc import ms_ds

data_proc.py:106: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  split_date = ms_cfilter['Date'].str.extract('^(?P<month>[0-9]+)/(?P<day>[0-9]+)/(?P<year>[0-9]+)$')

In [9]:
ms_ds

,S#,Title,Summary,Fatalities,Injured,Total victims,Latitude,Longitude,gender_dedup,missues_dedup,races_dedup,state_full,month,day,year
0,1,Las Vegas Strip mass shooting,NaN,58,527,585,36.181271,-115.134132,male,NaN,white,nevada,10,1,2017
1,2,San Francisco UPS shooting,"Jimmy Lam, 38, fatally shot three coworkers an...",3,2,5,NaN,NaN,male,yes,asian,california,6,14,2017
2,3,Pennsylvania supermarket shooting,"Randy Stair, a 24-year-old worker at Weis groc...",3,0,3,NaN,NaN,male,NaN,white,pensylvania,6,7,2017
3,4,Florida awning manufacturer shooting,"John Robert Neumann, Jr., 45, a former employe...",5,0,5,NaN,NaN,male,NaN,NaN,florida,6,5,2017
4,5,Rural Ohio nursing home shooting,"Thomas Hartless, 43, shot and killed a former ...",3,0,3,NaN,NaN,male,yes,white,ohio,5,12,2017
5,6,Fresno downtown shooting,"Kori Ali Muhammad, 39, opened fire along a str...",3,0,3,NaN,NaN,male,NaN,black,california,4,18,2017
6,7,Fort Lauderdale airport shooting,"Esteban Santiago, 26, flew from Alaska to Fort...",5,6,11,NaN,NaN,male,yes,latino,florida,1,6,2017
7,8,Cascade Mall shooting,"Arcan Cetin, 20, killed a teen girl and three ...",5,0,5,NaN,NaN,male,yes,NaN,washington,9,23,2016
8,9,Baton Rouge police shooting,"Gavin Long, a former Marine who served in Iraq...",3,3,6,NaN,NaN,male,yes,black,louisiana,7,17,2016
9,10,Dallas police shooting,"Micah Xavier Johnson, a 25-year-old Army veter...",5,11,16,NaN,NaN,male,NaN,black,texas,7,7,2016
10,11,Orlando nightclub massacre,"Omar Mateen, 29, attacked the Pulse nighclub i...",49,53,102,NaN,NaN,male,NaN,other,florida,6,12,2016
11,12,"Ferguson, MO Drive by",A group of 15 to 20 people was gathered for a ...,0,4,4,38.744217,-90.305391,NaN,NaN,NaN,missouri,4,29,2016
12,13,"Forestville, Maryland Drive-by",Shooter shot from his car at people standing o...,1,4,5,38.845113,-76.874972,NaN,NaN,NaN,NaN,4,26,2016
13,14,"Halifax County, VA",Male shooter fired into crown when a deputy po...,0,6,6,36.765971,-78.928344,male,NaN,black,NaN,4,24,2016
14,15,Tire-Slashing revenge escalation,Shooter was angry over fact that rival familie...,0,4,4,39.290385,-76.612189,male,NaN,black,NaN,4,21,2016
15,16,Chicago Rap video Shootout,Group of young men were in a park at 2 in the ...,1,4,5,41.878114,-87.629798,NaN,NaN,NaN,NaN,4,19,2016
16,17,Texas family murder-suicide,Man killed his wife and two young children bef...,4,0,4,29.785785,-95.824396,male,NaN,white,NaN,4,19,2016
17,18,Alabama highway random shooting,Shooter fired from his car at two different lo...,1,4,4,34.162040,-86.475543,male,yes,white,NaN,4,19,2016
18,19,Long Beach Street murder,Group of men were standing at a street corner ...,0,3,4,33.770050,-118.193739,NaN,NaN,NaN,NaN,4,18,2016
19,20,"Albuquerque, NM House party shooting",A Man shot four uninvited party guests who wou...,0,4,4,35.085334,-106.605553,male,NaN,white,NaN,4,9,2016
20,21,"Memphis, TN gas station shooting",Four people were shot below the waist at a gas...,0,4,4,35.149534,-90.048980,NaN,NaN,NaN,NaN,4,9,2016
21,22,Chicago Birthday Party Bus Shooting,Birthday party bus was dropping off party goer...,0,5,5,41.878114,-87.629798,NaN,NaN,NaN,NaN,4,7,2016
22,23,"Albuquerque, NM Family restaurant shooting",The shooter killed two of his nephews at the r...,3,1,3,35.085334,-106.605553,male,NaN,asian,NaN,4,1,2016
23,24,"Richmond, Virginia",A man fatally shot a Virginia state trooper at...,2,2,3,37.540725,-77.436048,male,NaN,black,virginia,3,31,2016
24,25,"Louisburg, North Carolina",Three people were killed in a shooting at a ho...,3,0,3,36.099039,-78.301106,male,NaN,black,north carolina,3,26,2016
25,26,"Lawrenceburg, Tennessee",The man was suspected of shooting his wife and...,2,2,3,35.242302,-87.334739,male,NaN,NaN,tennessee,3,25,2016
26,27,"Greenhill, AL Family murder-suicide",Husband murders his wife and injures his two s...,2,2,3,34.759257,-86.602493,male,yes,white,NaN,3,25,2016
27,28,"Sherman, Texas Family Murder-Suicide","A man shot and killed his wife and two boys, t...",4,0,3,33.635662,-96.608880,male,NaN,NaN,texas,3,21,2016
28,29,"Louisville, KY Family Murder-Suicide",A former soldier who fatally shot his wife and...,4,0,3,38.252665,-85.758456,male,yes,white,kentucky,3,20,2016
29,30,"Plantation, Florida",A Spring Break party in a house packed with 40...,1,4,5,26.127586,-80.233104,NaN,NaN,NaN,florida,3,19,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,291,Cleveland Elementary School,"On January 17, 1989, an unemployed 24-year-old...",6,30,35,37.966318,-121.301877,male,yes,white,california,1,17,1989
291,292,New Orleans Downtown Post Office,"On December 14, 1988, a 39-year-old post offic...",0,4,4,30.068724,-89.931474,male,NaN,NaN,louisiana,12,14,1988
292,293,Oakland Elementary School,"On September 26, 1988, an unemployed 19-year-o...",2,9,11,34.192895,-82.153555,male,yes,white,south carolina,9,26,1988
293,294,Comet Auto Parts and Montefiore School,"On September 22, 1988, a 40-year-old Vietnam v...",5,2,6,41.839280,-87.688181,male,no,black,illinois,9,22,1988
294,295,Hubbard Woods Elementary School,"On May 20, 1988, a 30-year-old woman entered t...",2,7,8,42.106488,-87.742111,female,yes,white,illinois,5,20,1988
295,296,Electromagnetic Systems Laboratory (ESL),"On February 16, 1988, a 39-year-old man arrive...",7,4,11,37.383443,-122.025619,male,yes,white,california,2,16,1988
296,297,Pinellas Park High School,"On February 11, 1988, two students age 15 and ...",1,2,3,27.848871,-82.710580,male,no,white,florida,2,11,1988
297,298,Palm Bay Shopping Centers,"On April 23, 1987, a 59-year-old retired libra...",6,14,20,27.983890,-80.666627,male,yes,white,florida,4,23,1987
298,299,Fergus County High School,"On December 4, 1986, a 14-year-old student at ...",1,3,4,47.037407,-109.484492,male,yes,white,montana,12,4,1986
299,300,"Post office in Edmond, Oklahoma","On August 20, 1986, a 44-year-old postal worke...",15,6,20,35.668892,-97.414388,male,yes,white,oklahoma,8,20,1986
300,301,New York Technical College,"On August 12, 1986, a 29-year civil technology...",1,4,5,40.679276,-73.939513,male,yes,black,new york,8,12,1986
301,302,Atlanta Post Office,"On March 6, 1985, a 30-year-old employee at th...",2,1,3,33.762997,-84.423133,male,yes,black,georgia,3,6,1985
302,303,Goddard Junior High School,"On January 21, 1985, a 14-year-old student ent...",1,3,4,37.671294,-97.550705,male,yes,white,kansas,1,21,1985
303,304,McDonald's restaurant in San Ysidro,"On July 18, 1984, a 41-year-old unemployed man...",22,19,40,32.555556,-117.047656,male,yes,white,california,7,18,1984
304,305,Ianni's Club in Dallas,"On June 29, 1984, a 39-year-old man who was re...",6,1,7,32.794806,-96.766311,male,yes,white,texas,6,29,1984
305,306,49th Street Elementary School,"On February 24, a 28-year-old man began shooti...",3,12,14,34.176221,-118.539954,male,yes,black,california,2,24,1984
306,307,Johnston Post Office,"On August 19, 1983, a 55-year-old former posta...",1,3,4,33.832729,-81.805158,male,yes,white,south carolina,8,19,1983
307,308,Wah Mee Club in Seattle,"On February 18, 1983, three man between the ag...",13,1,14,47.621996,-122.323646,male,NaN,asian,washington,2,18,1983
308,309,Welding shop in Miami,"On August 20, 1982, a 51-year-old teacher on p...",9,3,11,25.796539,-80.208404,male,yes,white,florida,8,20,1982
309,310,Valley High School,"On March 19, 1982, a 17-year-old student walke...",1,2,3,36.189319,-115.326487,male,yes,white,nevada,3,19,1982
310,311,University of South Carolina,"On October 6, 1979, a 19-year-old student at U...",2,5,7,34.050988,-80.820775,male,NaN,black,south carolina,10,6,1979
311,312,Grover Cleveland Elementary School,"On January 29, 1979, a 16-year-old opened fire...",2,9,11,32.863573,-117.128163,female,yes,white,california,1,29,1979
312,313,Cal State Fullerton,"On July 12, 1976, a 37-year-old custodian at C...",7,2,9,33.884042,-117.927850,male,yes,white,california,7,12,1976
313,314,Los Angeles Computer Learning Center,"On February 19, 1976, a 18-year-old student at...",1,7,8,34.176221,-118.539954,male,NaN,white,california,2,19,1976
314,315,Olean High School,"On December 30, 1974, a 17-year-old honor stud...",3,7,10,42.081854,-78.432139,male,no,white,new york,12,30,1974
315,316,Clara Barton Elementary School,"On January 17, 1974, a 14-year-old student ent...",1,3,4,41.839280,-87.688181,male,yes,NaN,illinois,1,17,1974
316,317,New Orleans Police Shootings,"On New Year's Eve in 1972, a 23-year-old ex-Na...",10,13,22,30.068724,-89.931474,male,yes,black,louisiana,12,31,1972
317,318,St. Aloysius Church,"On November 11, 1971, a former MIT student ent...",2,4,5,47.673674,-117.415984,male,yes,white,washington,11,11,1971
318,319,Rose-Mar College of Beauty,"On November 12, 1966, an 18-year-old high scho...",5,1,6,33.422687,-111.816320,male,yes,white,arizona,11,12,1966
319,320,University of Texas at Austin,"On August 1, 1966, a 25-year-old engineering s...",17,32,48,30.198887,-97.844159,male,yes,white,texas,8,1,1966

In [3]:
column = 'gender_dedup'
state = 'california'

vcnt = ms_ds.groupby('state_full').get_group(state)[column].value_counts()
vcnt.sort_index()
rel_vcnt = vcnt/vcnt.sum()

for k,v in rel_vcnt.iteritems():
    print "k {}, v {}".format(k, v)

k male, v 0.838709677419
k female, v 0.0967741935484
k male/female, v 0.0645161290323

In [4]:
ms_ds.sort_index()
uvals = ms_ds[column].value_counts().index
for k in uvals:
    print k

male
female
male/female

In [5]:
import pandas as pd
import numpy as np
import matplotlib as mpl # optional (here)
import matplotlib.pyplot as plt

from ipywidgets import widgets, interactive

In [6]:
from io import StringIO

testdata=StringIO(u"""Year,Sex,Area,Count
2015,W,Dhaka,6
2015,M,Dhaka,3
2015,W,Khulna,1
2015,M,Khulna,8
2014,M,Dhaka,13
2014,W,Dhaka,20
2014,M,Khulna,9
2014,W,Khulna,6
2013,W,Dhaka,11
2013,M,Dhaka,2
2013,W,Khulna,8
2013,M,Khulna,5
2012,M,Dhaka,12
2012,W,Dhaka,4
2012,W,Khulna,7
2012,M,Khulna,1
    """)

df = pd.read_csv(testdata, sep=",")

In [7]:
# Create two bounded text box that allow only numbers between the min year (2012) and the max year (2015)
start_year = widgets.BoundedFloatText(
    value=df.Year.min(),
    min=df.Year.min(),
    max=df.Year.max(),
    step=1,
    description='Start Year:',
    disabled=False,
    color='black'
)
end_year = widgets.BoundedFloatText(
    value=df.Year.max(),
    min=df.Year.min(),
    max=df.Year.max(),
    step=1,
    description='End Year:',
    disabled=False,
    color='black'
)

# Make a dropdown to select the Area, or "All"
area = widgets.Dropdown(
    options=['All'] + list(df['Area'].unique()),
    value='All',
    description='Area:',
)

def plotit(area, start_year, end_year):
    """
    Filters and plot the dataframe as a stacked bar chart of count of Male versus Women

    Args:
    -----
        * area (str): the area to filter on, or "All" to display all Areas

        * start_year, end_year (int, as float): the start and ends years, inclusive

        Note: the dataframe to plot is globally defined here as `df`

    Returns:
    --------
        A matplotlib stacked bar chart

    """
    if start_year > end_year:
        print("You must select a start year that is prior to end year")
    else:
        df2 = df.copy()
        if area != 'All':
            df2 = df2[df2.Area == area]

        # Filter between min and max years (inclusive)
        df2 = df2[(df2.Year >= start_year) & (df2.Year <= end_year)]


        # Plot it (only if there's data to plot)
        if len(df2) > 0:
            df2.groupby(['Year', 'Sex']).sum()['Count'].unstack().plot(kind='bar', stacked=True, title="Area = {}".format(area))
            plt.show();
        else:
            print("No data to show for current selection")

In [8]:
interactive(plotit, area=area, start_year=start_year, end_year=end_year)

interactive(children=(Dropdown(description=u'Area:', options=('All', 'Dhaka', 'Khulna'), value='All'), BoundedFloatText(value=2012.0, description=u'Start Year:', max=2015.0, min=2012.0, step=1.0), BoundedFloatText(value=2015.0, description=u'End Year:', max=2015.0, min=2012.0, step=1.0), Output()), _dom_classes=('widget-interact',))

In [10]:
ms_ds.groupby('state_full').sum()

,S#,Fatalities,Injured,Total victims,Latitude,Longitude,month,day,year
state_full,,,,,,,,,
alabama,1403,29,25,55,294.042915,-774.786839,36,155,18113
alaska,258,2,2,4,60.790539,-161.792752,2,19,1997
arizona,1908,44,26,65,366.281073,-1228.589171,62,189,22067
arkansas,457,5,11,18,70.902297,-183.101043,13,50,4006
california,6565,176,211,375,946.166056,-3213.522822,175,426,62039
colorado,1078,43,109,148,197.679976,-524.556828,56,121,12041
connecticut,621,42,4,44,124.874849,-218.564277,23,23,6020
florida,2950,119,138,252,475.753168,-1388.569851,115,302,40153
georgia,2043,40,47,81,436.729588,-1095.333980,62,257,26129
hawaii,243,7,0,7,21.325512,-157.847306,11,2,1999
idaho,142,3,1,4,46.730595,-116.999004,1,10,2015
illinois,1965,36,45,75,372.749676,-794.504500,43,166,18005
indiana,119,0,5,5,39.777255,-86.146354,4,5,2015
iowa,284,6,1,6,41.655894,-91.531180,11,1,1991
kansas,441,13,31,43,114.922147,-289.604969,8,78,8033
kentucky,1050,27,18,42,190.378869,-432.478120,35,86,10004
louisiana,866,17,38,53,120.418508,-361.826068,44,114,10005
maine,86,4,0,3,44.549947,-69.707823,11,4,2015
massachusetts,827,12,15,27,169.416105,-286.608622,39,76,8002
michigan,1291,22,17,36,213.522787,-419.995904,47,88,12011
minnesota,582,22,12,31,185.494035,-376.969405,32,81,8047
mississippi,672,13,21,33,130.971774,-357.366021,22,42,8031
missouri,351,14,7,19,114.527551,-272.602212,8,62,6039
montana,406,6,3,8,93.435025,-222.217425,18,11,4001
nebraska,432,14,12,26,123.838454,-288.073087,25,35,6037
nevada,1023,71,544,612,223.453611,-700.629289,50,66,12044
new jersey,662,8,4,12,122.540013,-222.505444,18,41,6001
new mexico,444,9,5,12,106.749100,-322.281557,12,46,6042
new york,2027,42,53,92,421.034491,-759.132260,64,149,20027
north carolina,1822,40,21,59,392.029972,-872.091839,40,232,22103
ohio,1610,24,33,53,367.946956,-738.942747,73,155,20093
oklahoma,1009,26,12,36,179.184248,-482.019839,35,76,10025
oregon,733,17,43,58,178.227649,-491.345082,31,43,8032
pennsylvania,1396,29,28,55,323.330107,-626.820101,58,81,16074
pensylvania,3,3,0,3,NaN,NaN,6,7,2017
south carolina,1272,18,21,39,168.340245,-406.438591,42,83,9962
south dakota,93,6,0,5,43.386827,-98.843572,9,17,2015
tennessee,627,12,12,22,177.374935,-431.769257,30,86,10056
texas,3066,117,149,258,474.469729,-1459.803235,110,210,34074
utah,495,7,7,12,82.006011,-223.898749,9,20,4000
vermont,225,2,2,4,44.490220,-73.114006,8,24,2006
virginia,691,48,31,76,224.785709,-473.588621,19,143,12072
washington,2874,78,37,108,665.331974,-1700.230912,99,307,30072
washington d.c.,161,13,3,15,38.904809,-77.016297,9,16,2013
west virginia,145,5,0,4,39.634009,-79.948393,12,1,2014
wisconsin,1619,42,22,59,350.570818,-708.983476,70,100,18082
wyoming,273,1,4,4,44.790511,-106.959917,9,17,1993